USE [master]
GO
/****** Object:  Database [StepDB]    Script Date: 02.12.2022 17:52:01 ******/
CREATE DATABASE [StepDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StepDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StepDB.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StepDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StepDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StepDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StepDB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 02.12.2022 17:52:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Score] [float] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Surname], [DateOfBirth], [Score]) VALUES (1, N'Miri', N'Mirili', NULL, 7.5)
INSERT [dbo].[Students] ([Id], [Name], [Surname], [DateOfBirth], [Score]) VALUES (3, N'Murad', N'Muradli', CAST(N'2002-04-19' AS Date), 8.6)
INSERT [dbo].[Students] ([Id], [Name], [Surname], [DateOfBirth], [Score]) VALUES (4, N'Tural', N'Turalli', NULL, 8.7)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
