USE [master]
GO
/****** Object:  Database [BooksDB]    Script Date: 09.12.2022 09:59:04 ******/
CREATE DATABASE [BooksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Books_En', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Books_En.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Books_En_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Books_En_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooksDB]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 09.12.2022 09:59:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[New] [bit] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [money] NULL,
	[Pages] [int] NULL,
	[Format] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Pressrun] [float] NULL,
	[Category] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[Topic] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (1, 4704, 0, N'Tutorial work on a personal computer: 3rd ed., Ext.', 17.4000, 640, N'70х100/16', CAST(N'2000-02-23T00:00:00.000' AS DateTime), 10000, N'Applications to books on CD-ROM and floppy disks', N'BHV Kiev', N'Using a PC as a whole')
INSERT [dbo].[Books] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (2, 5110, 0, N'Hardware media. PC Video System', 15.5100, 400, N'70х100/16', CAST(N'2000-07-24T00:00:00.000' AS DateTime), 5000, N'Applications to books on CD-ROM and floppy disks', N'BHV St. Petersburg', N'Using a PC as a whole')
INSERT [dbo].[Books] ([Id], [Code], [New], [Name], [Price], [Pages], [Format], [Date], [Pressrun], [Category], [Publisher], [Topic]) VALUES (3, 4316, 0, N'The basic operation of your PC', 19.9100, 440, N'70х100/16', CAST(N'2000-01-11T00:00:00.000' AS DateTime), 3000, N'Applications to books on CD-ROM and floppy disks', N'BHV St. Petersburg', N'Using a PC as a whole')
GO
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_En_New]  DEFAULT ((1)) FOR [New]
GO
USE [master]
GO
